<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>

	<title><ui:insert name="title">ProjectTrack</ui:insert></title>

	<h:outputStylesheet name="global.css"/>
</h:head>

<body>
	<ui:debug rendered="#{facesContext.application.projectStage == 'Development'}" hotkey="j"/>
	<div>
		<ui:insert name="body" />
	</div>

</body>
</html>