<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
	
<ui:remove> Edit and display fields for main project details (approval and rejection).
     Must be included in a panel grid with two columns.
     </ui:remove>

<h:outputText value="Name:" />
<h:outputText value="#{updateProjectBean.project.name}"
	styleClass="project-data" />

<h:outputText value="Type:" />
<h:outputText value="#{updateProjectBean.project.type}"
	styleClass="project-data" />

<h:outputText value="Initiated by:" />
<h:outputText value="#{updateProjectBean.project.initiatedBy}"
	styleClass="project-data" />

<h:outputText value="Requirements contact:" />
<h:outputText value="#{updateProjectBean.project.requirementsContact}"
	styleClass="project-data" />

<h:outputText value="Requirements contact e-mail:" />
<h:outputText value="#{updateProjectBean.project.requirementsContactEmail}"
	styleClass="project-data" />

<h:outputText value="Initial comments:" />
<h:outputText value="#{updateProjectBean.project.initialComments}"
	styleClass="project-data" />
</ui:composition>
