<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

<ui:remove>Edit the artifact list.
     Must be included in a panel grid with two columns.
     </ui:remove>

<h:outputLabel for="artifactSelect" value="Completed artifacts:" />
<h:selectManyCheckbox id="artifactSelect" layout="pageDirection"
	styleClass="project-input" value="#{visit.currentProject.artifacts}">
	<f:selectItems value="#{selectItems.artifacts}" />
</h:selectManyCheckbox>
</ui:composition>
