<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:form id="tf">
	<h:panelGrid columns="4" cellspacing="0" cellpadding="0"
		styleClass="header" width="100%">
		<h:panelGrid id="header" columns="5" cellpadding="4" cellspacing="0"
			border="0">
			<h:outputText value="ProjectTrack:" styleClass="toolbar-header" />
			<h:commandLink action="inbox">
				<h:graphicImage url="/resources/images/inbox.gif"
					styleClass="toolbar-icon" alt="Inbox" />
				<h:outputText value="Inbox" styleClass="toolbar-command" />
			</h:commandLink>
			<h:commandLink action="show_all">
				<h:graphicImage url="/resources/images/show_all.gif"
					styleClass="toolbar-icon" alt="Show all projects" />
				<h:outputText value="Show all" styleClass="toolbar-command" />
			</h:commandLink>
			<h:commandLink action="create">
				<h:graphicImage url="/resources/images/create.gif"
					styleClass="toolbar-icon" alt="Create a new project" />
				<h:outputText value="Create new" styleClass="toolbar-command" />
			</h:commandLink>
			<h:commandLink action="#{loginController.logout}">
				<h:graphicImage url="/resources/images/logout.gif"
					styleClass="toolbar-icon" alt="Logout" />
				<h:outputText value="Logout" styleClass="toolbar-command" />
			</h:commandLink>
		</h:panelGrid>
		<h:outputText value="(#{visit.user.firstName})" styleClass="user-name" />
	</h:panelGrid>
</h:form>
</html>