<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ptc="http://xmlns.jcp.org/jsf/composite/ptrack-components"
	template="/templates/standard.xhtml">

	<ui:define name="titleText">ProjectTrack - Details</ui:define>
	<ui:define name="content">
		<f:metadata>
			<f:viewParam name="projectId" value="#{projectDetailsController.projectId}"
				required="true">
				<f:validateLength minimum="1" maximum="5" />
			</f:viewParam>
			<f:viewParam name="fromInbox" value="#{projectDetailsController.fromInbox}" />
			<f:viewAction 
				actionListener="#{projectDetailsController.loadProject()}" />
		</f:metadata>
		<h:form id="f" styleClass="project-background">
			<ptc:projectInfo title="Projet details"
				value="#{projectDetailsController.project}" showComments="false" />

			<h:dataTable id="histDtb" cellpadding="5"
				styleClass="table-background" columnClasses="details-column"
				value="#{projectDetailsController.project.history}" var="operation"
				first="#{projectDetailsController.firstRow}"
				rows="#{projectDetailsController.rowsPerPage}">

				<f:facet name="header">
					<h:outputText value="History" styleClass="table-header" />
				</f:facet>

				<h:column>
					<h:panelGrid columns="1" width="100%" styleClass="table-even-row">

						<h:panelGrid columns="3" cellpadding="7"
							styleClass="table-even-row">
							<h:outputText value="#{operation.timestamp}">
								<f:convertDateTime dateStyle="full" timeStyle="short" />
							</h:outputText>
							<h:outputText
								value="#{operation.fromStatus} -> #{operation.toStatus}" />
							<h:outputText value="(#{operation.user.role.description})" />
						</h:panelGrid>

						<h:panelGrid columns="1" cellpadding="3"
							styleClass="table-odd-row" width="100%">
							<h:outputText value="Comments:" />
							<h:outputText value="#{operation.comments}"
								styleClass="project-data" />
						</h:panelGrid>
					</h:panelGrid>
				</h:column>

				<f:facet name="footer">
					<h:panelGroup>
						<h:commandLink id="previous"
							actionListener="#{projectDetailsController.previous}"
							rendered="#{projectDetailsController.showPrevious}"
							style="padding-right: 5px;" value="Previous">
							<f:ajax render=":f:histDtb" />
						</h:commandLink>
						<h:commandLink id="next"
							actionListener="#{projectDetailsController.next}"
							rendered="#{projectDetailsController.showNext}" value="Next">
							<f:ajax render=":f:histDtb" />
						</h:commandLink>
					</h:panelGroup>
				</f:facet>
			</h:dataTable>
			<h:commandButton id="ok" value="OK" action="success"
				immediate="true" style="margin-top: 5px">
				<f:ajax />
			</h:commandButton>
		</h:form>
	</ui:define>
</ui:composition>
