<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="/templates/master.xhtml">

	<ui:define name="title">ProjectTrack - Error</ui:define>
	<ui:define name="body">
			<h:messages globalOnly="true" styleClass="errors"/>
	</ui:define>	
	
</ui:composition>  
