<html xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<composite:interface shortDescription="Edit comments field.">
	<composite:attribute name="value" type="java.lang.String" />
</composite:interface>
<composite:implementation>
	<h:outputStylesheet name="components.css" library="ptrack-components" />
	<div style="">
		<h:outputLabel for="commentsInput" value="Your comments:"
			styleClass="comments-label" />
		<h:inputTextarea id="commentsInput" rows="10"
			styleClass="comments-input" value="#{cc.attrs.value}" />
	</div>
</composite:implementation>
</html>