
<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:ptc="http://xmlns.jcp.org/jsf/composite/ptrack-components"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

	<composite:interface>
		<composite:attribute name="value"
			type="org.jia.ptrack.domain.Project" required="true"/>
		<composite:attribute name="comments" type="java.lang.String" />			
		<composite:attribute name="title" type="java.lang.String" />
		<composite:attribute name="showComments" type="java.lang.Boolean"
			default="true" />
		<composite:attribute name="editArtifacts" type="java.lang.Boolean"
			default="false" />
	</composite:interface>

	<composite:implementation>

		<h:panelGrid columns="2" cellpadding="5"
			footerClass="project-background" styleClass="project-background"
			rowClasses="project-row">

			<f:facet name="header">
				<h:panelGrid columns="1" width="100%" cellpadding="3"
					styleClass="project-background" headerClass="page-header">
					<f:facet name="header">
						<h:outputText value="#{cc.attrs.title}" />
					</f:facet>
					<h:messages styleClass="errors" />
				</h:panelGrid>
			</f:facet>

			<h:outputText value="Name:" />
			<h:outputText value="#{cc.attrs.value.name}"
				styleClass="project-data" />

			<h:outputText value="Type:" />
			<h:outputText value="#{cc.attrs.value.type.description}"
				styleClass="project-data" />

			<h:outputText value="Initiated by:" />
			<h:outputText value="#{cc.attrs.value.initiatedBy}"
				styleClass="project-data" />

			<h:outputText value="Requirements contact:" />
			<h:outputText
				value="#{cc.attrs.value.requirementsContact}"
				styleClass="project-data" />

			<h:outputText value="Requirements contact e-mail:" />
			<h:outputText
				value="#{cc.attrs.value.requirementsContactEmail}"
				styleClass="project-data" />

			<h:outputText value="Initial comments:" />
			<h:outputText value="#{cc.attrs.value.initialComments}"
				styleClass="project-data" />

			<h:outputLabel for="artifactSelect" value="Completed artifacts:" />
			<h:selectManyCheckbox id="artifactSelect"
				rendered="#{cc.attrs.editArtifacts}" layout="pageDirection"
				label="Completed artifacts" styleClass="project-input"
				value="#{cc.attrs.value.artifacts}">
				<f:selectItems value="#{enums.artifacts}" var="artifact"
					itemLabel="#{artifact.description}" itemValue="#{artifact}" />
			</h:selectManyCheckbox>
			<ui:repeat rendered="#{!cc.attrs.editArtifacts}"
				value="#{cc.attrs.value.artifacts}" var="artifact">
				<div class="project-data">#{artifact.description}</div>
			</ui:repeat>

			<f:facet name="footer">
				<ptc:comments value="#{comments}" rendered="#{cc.attrs.showComments}"/>
			</f:facet>

		</h:panelGrid>
	</composite:implementation>
</ui:composition>
