<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ptc="http://xmlns.jcp.org/jsf/composite/ptrack-components"
	template="/templates/standard.xhtml">

	<ui:define name="titleText">ProjectTrack - Approve</ui:define>
	<ui:define name="content">
		<f:metadata>
			<f:viewParam name="projectId" value="#{updateProjectController.projectId}"
				required="true">
				<f:validateLength minimum="1" maximum="5" />
			</f:viewParam>
			<f:event type="preRenderView"
				listener="#{updateProjectController.loadProject}" />
		</f:metadata>
		<h:form>
			<ptc:projectInfo title="Approve a project"
				value="#{updateProjectController.project}" showComments="true" />
			<h:panelGrid columns="2" rowClasses="table-odd-row">
				<h:commandButton id="approve" value="Approve"
					action="#{updateProjectController.approve}" />
				<h:commandButton id="cancel" value="Cancel" action="inbox"
					immediate="true" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
