<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:custom="urn:org.jia.ptrack"
	template="/templates/standard.xhtml">

	<ui:define name="titleText">ProjectTrack - Inbox</ui:define>
	<ui:define name="content">
		<h:form>
			<h:panelGrid headerClass="page-header" styleClass="table-background"
				columns="1" cellpadding="5">
				<f:facet name="header">
					<h:outputText value="Inbox - approve or reject projects" />
				</f:facet>
				<h:messages globalOnly="true" styleClass="errors" />
				<h:dataTable styleClass="table-background"
					rowClasses="table-odd-row,table-even-row" cellpadding="3"
					value="#{selectProjectController.getProjects(false)}" var="project">
					<h:column>
						<f:facet name="header">
							<h:outputText value="Project name" />
						</f:facet>
						<h:outputText value="#{project.name}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="Type" />
						</f:facet>
						<h:outputText value="#{project.type}">
							<custom:enumConverter />
						</h:outputText> 
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="Status" />
						</f:facet>
						<h:outputText value="#{project.status}" />
					</h:column>
					<h:column>
						<h:link id="approve" outcome="approve" value="Approve">
							<f:param name="projectId" value="#{project.id}" />
						</h:link>
					</h:column>
					<h:column>
						<h:link id="reject" outcome="reject" value="Reject">
							<f:param name="projectId" value="#{project.id}" />
						</h:link>
					</h:column>
					<h:column>
						<h:link id="details" outcome="details" value="Details">
							<f:param name="projectId" value="#{project.id}" />
							<f:param name="fromInbox" value="true" />
						</h:link>
					</h:column>
				</h:dataTable>
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>