<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ptc="http://xmlns.jcp.org/jsf/composite/ptrack-components"
	template="/templates/standard.xhtml">

	<ui:define name="titleText">ProjectTrack - Reject</ui:define>
	<ui:define name="content">
		<f:metadata>
			<f:viewParam name="projectId" value="#{updateProjectBean.projectId}"
				required="true">
				<f:validateLength minimum="1" maximum="5" />
			</f:viewParam>
			<f:event type="preRenderView"
				listener="#{updateProjectBean.loadProject}" />
		</f:metadata>
		<h:form id="f" styleClass="project-background">
			<ptc:projectInfo title="Reject a project"
				value="#{updateProjectBean.project}" showComments="true" />
			<h:panelGrid columns="2" rowClasses="table-odd-row">
				<h:commandButton id="reject" value="Reject"
					action="#{updateProjectBean.reject}" />
				<h:commandButton id="cancel" value="Cancel" action="cancel"
					immediate="true" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>