<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<head jsf:id="head">
<title>ProjectTrack - Login</title>
<link jsf:name="global.css" rel="stylesheet" />
<link jsf:name="grid.css" jsf:library="primefaces/grid" rel="stylesheet" />
</head>

<body jsf:id="body">
	<form jsf:id="form">
		<div class="ui-grid ui-grid-responsive">
			<div class="ui-grid-col-4">
				<img jsf:library="images" jsf:name="logo.gif"
					alt="Welcome to ProjectTrack" title="Welcome to ProjectTrack"
					width="149" height="160" />
			</div>
			<div class="ui-grid-col-8">
				<span class="login-heading">ProjectTrack</span>
			</div>
			<div class="ui-grid-col-8">
				<p:messages id="globalMsgs" />
			</div>
			<div class="ui-grid-col-4">
				<label for="userNameInput">User name:</label>
			</div>
			<div class="ui-grid-col-4">
				<h:inputText id="userNameInput" size="20" pt:pattern=".{5,}"
					pt:required="true" maxlength="30"
					title="This field must be at least 5 characters long."
					label="User name" required="true"
					value="#{loginController.userName}">
					<f:passThroughAttribute name="required" value="required" />
					<f:validateLength minimum="5" maximum="30" />
				</h:inputText>
			</div>
			<div class="ui-grid-col-4">
				<label for="passwordInput">Password</label>
			</div>
			<div class="ui-grid-col-4">
				<input type="password" jsf:id="passwordInput" pattern=".{5,}"
					size="20" maxlength="20" jsf:label="Password"
					title="This field must be at least 5 characters long."
					required="required" jsf:required="true"
					jsf:value="#{loginController.password}"> 
					<f:validateLength minimum="5" maximum="20" /></input>

			</div>
			<div class="ui-grid-col-8" style="float: right">
				<button class="submit-btn" jsf:action="#{loginController.login}" />
			</div>
		</div>
		<div class="small" style="margin-top: 1em">Login accounts:
			upper_mgr, proj_mgr, analyst, dev_mgr, sys_mgr, qa_mgr; password is
			always "faces"'</div>
	</form>
	<ui:debug
		rendered="#{facesContext.application.projectStage == 'Development'}"
		hotkey="j" />
</body>
</html>
