<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/templates/master.xhtml">
	<ui:define name="title">
		Acme <ui:insert name="titleText" />
	</ui:define>

	<ui:define name="body">
		<div class="page-background">
			<ui:include src="/WEB-INF/includes/toolbar.xhtml" />
			<ui:insert name="content" />
			<ui:insert name="footer">Copyright &copyr; 2014 Acme Corporation</ui:insert>
		</div>
	</ui:define>
</ui:composition>
</html>