<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ptc="http://xmlns.jcp.org/jsf/composite/ptrack-components"
	template="/templates/standard.xhtml">

	<ui:define name="titleText">ProjectTrack - Show all projects</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<h:panelGrid columns="3" cellpadding="5"
				footerClass="project-background" styleClass="project-background"
				rowClasses="project-row" columnClasses=",project-input">

				<f:facet name="header">
					<h:panelGrid columns="1" width="100%" cellpadding="3"
						styleClass="project-background" headerClass="page-header">
						<f:facet name="header">
							<h:outputText value="Create a project" />
						</f:facet>
						<h:messages id="globalMsgs" globalOnly="true" showDetail="true"
							styleClass="errors" />
					</h:panelGrid>
				</f:facet>

				<h:outputLabel for="nameInput" value="Name:" />
				<h:inputText id="nameInput" size="40" required="true"
					value="#{createProjectController.project.name}">
					<f:ajax render="nameMsg" />
				</h:inputText>
				<h:message id="nameMsg" for="nameInput" styleClass="errors" />

				<h:outputLabel for="typeSelect" value="Type:" />
				<h:selectOneMenu id="typeSelect" layout="pageDirection"
					required="true" label="Completed artifacts"
					styleClass="project-input"
					value="#{createProjectController.project.type}">
					<f:selectItems value="#{enums.projectTypes}" var="type"
						itemLabel="#{type.description}" itemValue="#{type}" />
					<f:ajax render="typeMsg" />
				</h:selectOneMenu>
				<h:message id="typeMsg" for="typeSelect" styleClass="errors" />

				<h:outputLabel for="startDate" value="Start date:" />
				<h:inputText id="startDate" label="Start date"
					value="#{createProjectController.project.startDate}"
					required="true">
					<f:convertDateTime dateStyle="short" />
					<f:ajax render="startDataeMsg" />
				</h:inputText>
				<h:message id="startDataeMsg" for="startDate" styleClass="errors" />

				<h:outputLabel for="dueDate" value="Due date:" />
				<h:inputText id="dueDate" label="Due date"
					value="#{createProjectController.project.dueDate}">
					<f:convertDateTime dateStyle="short" />
					<f:ajax render="dueDateMsg" />
				</h:inputText>
				<h:message id="dueDateMsg" for="dueDate" styleClass="errors" />

				<h:outputLabel for="budget" value="Budget:" />
				<h:inputText id="budget"
					value="#{createProjectController.project.budget}" label="Budget">
					<f:convertNumber type="currency" currencySymbol="$"
						maxFractionDigits="0" />
					<f:validateLongRange minimum="1000" maximum="20000000" />
					<f:ajax render="budgetMsg" />
				</h:inputText>
				<h:message id="budgetMsg" for="budget" styleClass="errors" />

				<h:outputLabel for="initiatedByInput" value="Initiated by:" />
				<h:inputText id="initiatedByInput" size="40" required="true"
					value="#{createProjectController.project.initiatedBy}"
					validator="#{createProjectController.validateUserName}">
					<f:ajax render="initiatedByMsg" />
				</h:inputText>
				<h:message id="initiatedByMsg" for="initiatedByInput"
					styleClass="errors" />

				<h:outputLabel for="requirementsInput" value="Requirements contact:" />
				<h:inputText id="requirementsInput" size="40"
					value="#{createProjectController.project.requirementsContact}"
					validator="#{createProjectController.validateUserName}">
					<f:ajax render="reqMsg" />
				</h:inputText>
				<h:message id="reqMsg" for="requirementsInput" styleClass="errors" />

				<h:outputLabel for="requirementsEmailInput"
					value="Requirements contact e-mail:" />
				<h:inputText id="requirementsEmailInput" size="40"
					value="#{createProjectController.project.requirementsContactEmail}">
					<f:ajax render="reqEmailMsg" />
				</h:inputText>
				<h:message id="reqEmailMsg" for="requirementsEmailInput"
					styleClass="errors" />

				<h:outputLabel for="artifactSelect" value="Completed artifacts:" />
				<h:selectManyCheckbox id="artifactSelect" layout="pageDirection"
					label="Completed artifacts" styleClass="project-input"
					value="#{createProjectController.project.artifacts}">
					<f:selectItems value="#{enums.artifacts}" var="artifact"
						itemLabel="#{artifact.description}" itemValue="#{artifact}" />
					<f:ajax render="artifactsMsg" />
				</h:selectManyCheckbox>
				<h:message id="artifactsMsg" for="artifactSelect"
					styleClass="errors" />

				<f:facet name="footer">
					<h:panelGroup>
						<ptc:comments id="comments"
							value="#{createProjectController.project.initialComments}" />
						<h:panelGrid columns="2" rowClasses="table-odd-row">
							<h:commandButton id="save" value="Save"
								action="#{createProjectController.add}" />
							<h:commandButton id="cancel" value="Cancel" action="cancel"
								immediate="true" />
						</h:panelGrid>
					</h:panelGroup>
				</f:facet>
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>